

.welcome {
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-details h2 {
    margin: 0;
    font-size: 24px;
}

.user-details p {
    margin: 5px 0;
}

.user-role {
    font-size: 14px;
    color: #777;
}

.action-buttons {
    display: flex;
    flex-direction: column;
}

.action-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-buttons .learn-more {
    background-color: #777;
    color: #fff;
}

.action-buttons .learn-more:hover {
    background-color: #555;
}

.action-buttons .join-now {
    background-color: #007bff;
    color: #fff;
}

.action-buttons .join-now:hover {
    background-color: #0056b3;
}

.updatess {
    text-align: center;
}

.updatess h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.updates {
    display: flex;
    justify-content: space-around;
}

.update {
    max-width: 200px;
    text-align: center;
}

.update img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.update h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.update p {
    margin: 5px 0;
}

.update .time {
    color: #777;
}
