.MuiTypography-root > p > img {
  width: 200px;
  display: flex;
}
.modaldal {
  min-height: 30%;
  max-height: 80%;
  overflow: scroll;
}
.MuiPaper-root {
  border: 1px solid #b1b1b1;
  padding: 0 10px;
}
