/* 공통 스타일 */
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#mainContainer {
    height: 100vh;
}
.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

header {
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

header .logo h1 {
    margin: 0;
    display: inline;
}

header nav {
    display: inline;
    float: right;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
}

main {
    padding: 50px 0;
    background-color: #f9f9f9;
    min-height: 80vh;
}

footer {
    background-color: #f8af65;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    text-align: center;
}

footer p {
    margin: 5px 0;
}

footer a {
    text-decoration: none;
    color: #000;
}

footer a:hover {
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.login-form {
    background-color: #fff;
    padding: 30px;
    border: 1px solid #ccc;
    width: 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* 로그인 폼 가운데 정렬 */
    display: flex;
    flex-direction: column;
    align-items: center; /* 로그인 폼 내부 요소 가운데 정렬 */
    height: 80%; /* 높이 조절 */
}
.login-form-submit {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.login-options {
    width: 100%; /* 로그인 옵션의 너비를 로그인 폼과 동일하게 설정 */
    margin-top: 20px; /* 로그인 옵션과 로그인 폼 사이의 간격 */
    display: flex;
    flex-direction: column;
    align-items: center; /* 로그인 옵션 내부 요소 가운데 정렬 */
}
.login-options h2 {
    margin-bottom: 20px;
}

.login-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.login-buttons button {
    width: 100px;
    height: 50px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.kakao-login {
    background-image: url('../../../public/images/member/kakao_login.png');
}

.google-login {
    background-image: url('../../../public/images/member/google_login.png');
}

.login-form label {
    margin: 10px 0 5px;
}

.login-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* 입력 상자의 너비가 border-box로 계산되도록 설정 */
    width: calc(100% - 22px);
}

.additional-options {
    margin-bottom: 15px;
    text-align: center;
}

.additional-options a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.additional-options a:hover {
    text-decoration: underline;
}
/* 회원가입 페이지 스타일 */
.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-Form {
    padding: 30px;
    border: 1px solid #ccc;
    width: 250vh; /* 변경된 가로폭 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* 회원가입 폼 가운데 정렬 */
    display: flex;
    flex-direction: column;
    align-items: center; /* 회원가입 폼 내부 요소 가운데 정렬 */
    height: 10%; /* 높이 조절 */
    border: none;
}
.signup-Form form {
    display: flex;
    flex-direction: column;
}

.signup-options {
    width: 100%; /* 회원가입 옵션의 너비를 회원가입 폼과 동일하게 설정 */
    margin-top: 20px; /* 회원가입 옵션과 회원가입 폼 사이의 간격 */
    display: flex;
    flex-direction: column;
    align-items: center; /* 회원가입 옵션 내부 요소 가운데 정렬 */
}

.signup-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.signup-buttons button {
    width: 150px; /* 버튼 너비 조정 */
    height: 50px; /* 버튼 높이 조정 */
    padding: 10px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.kakao-signup {
    background-color: #fee500;
    color: #000;
}

.google-signup {
    background-color: #4285f4;
    color: #fff;
}

.signup-Form label {
    margin: 10px 0 5px;
}

.signup-Form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

.email-verify {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
}

.signup-Form button[type='submit'] {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

/* 약관 페이지 스타일 */
.terms {
    margin: 20px 0;
}

.terms h3 {
    margin-bottom: 10px;
}

.term {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.term-label {
    align-self: flex-start;
    margin-bottom: 10px;
}

.term-content {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 10px;
    text-align: left; /* 글을 왼쪽으로 정렬 */
}

.term-actions {
    display: flex;
    justify-content: flex-end; /* 체크박스와 동의 버튼을 오른쪽 끝으로 이동 */
    align-items: center;
}

.term-actions input {
    margin-right: 5px;
}
