body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    background-color: #f8f8f8;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo h1 {
    margin: 0;
}

header .nav-search {
    display: flex;
    align-items: center;
    margin-left: auto; /* 오른쪽 끝으로 정렬 */
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
}

header .search input {
    margin-right: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 20px; /* 검색창과 네비게이션 사이의 간격 */
    
}

aside {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    border-right: 1px solid #ccc;
    height: calc(100vh - 60px); /* header 높이를 뺀 나머지 높이 */
    position: fixed;
    top: 60px; /* header 높이와 동일하게 설정 */
    left: 0;
    bottom: 0;
    z-index: 500;
    overflow: auto; /* 추가: 내용이 많을 경우 스크롤바 표시 */
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    text-decoration: none;
    color: #000;
}

main {
    flex: 1;
    margin-left: 270px; /* aside의 width + padding */
    padding: 80px 20px 20px 20px; /* header 높이만큼 padding-top 추가 */
    box-sizing: border-box;
    overflow: auto;
}

main .tabs {
    display: flex;
    margin-bottom: 20px;
}

main .tabs a {
    margin-right: 10px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #e0e0e0;
    border-radius: 3px;
    color: #000;
}

main .tabs a.active {
    background-color: #007bff;
    color: #fff;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.actions button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    
}

.actions input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 300px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

table th {
    background-color: #f0f0f0;
}

table td .paid {
    color: green;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
