// 관리자
.adminContainer {
    $basicColor: #f1f1e6;
    $asideColor: #f9f9f9;
    $thirdColor: #0c1425;
    $hoverColor: #727787;
    $freeColor: #009425;
    $mvpColor: #ff8916;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .members-name {
        font-weight: bold;
    }

    .MVP {
        color: $mvpColor;
        font-weight: bold;
    }

    .FREE {
        color: $freeColor;
        font-weight: bold;
    }

    .aHeader {
        background-color: $basicColor;
        color: #fff;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .aContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        .aContainer img {
            margin-left: 25px;
        }
        .aLogo h1 {
            color: $thirdColor;
            margin: 0;
            margin-left: -215px;
            font-size: 24px;
        }
        .aNav-search {
            display: flex;
            align-items: center;
        }
        .profile-picture {
            width: 22px;
        }
        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            li {
                margin-left: 20px;
                a {
                    text-decoration: none;
                    color: $thirdColor;
                    padding: 10px 10px;
                    transition: background-color 0.3s;
                    &:hover {
                        background-color: $hoverColor;
                        color: $thirdColor;
                        border-radius: 3px;
                    }
                }
            }
        }
        .admin-dropdown-menu {
            position: absolute;
            top: 30px;
            width: 100px;
            right: -10px;
            background-color: $basicColor;
            border: 1px solid #e1e4e8;
            box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            z-index: 1000;
        }

        .admin-dropdown-menu::before {
            content: '';
            position: absolute;
            top: -10px;
            right: 10px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent #ffffff transparent;
        }

        .admin-dropdown-title {
            padding: 10px 15px;
            border-bottom: 1px solid $thirdColor;
            font-weight: bold;
        }

        .admin-dropdown-list {
            list-style-type: disc;
            color: $thirdColor;
            width: 200px;
            padding-right: 50px;
            display: flex;
            align-content: flex-start;
            flex-direction: column;
            flex-wrap: wrap;
        }

        .admin-dropdown-item {
            cursor: pointer;
            padding: 5px;
        }

        .admin-dropdown-txt {
            text-align: center;
            color: $thirdColor;
            display: flex;
        }

        .admin-dropdown-item:hover {
            background-color: $hoverColor;
        }

        .admin-welcome-section {
            position: relative;
        }

        .search input {
            background-color: #f9f9f9;
            margin-right: 40px;
            padding: 5px;
            border: 1px solid $thirdColor;
            border-radius: 3px;
            margin-left: 20px;
        }
        .admin-welcome-user {
            margin-left: 10px;
            color: $thirdColor;
            font-size: 20px;
        }
    }
    .content-wrapper {
        display: flex;
        flex: 1;
        background-color: #f9f9f9;
    }
    aside {
        width: 150px;
        background-color: $asideColor;
        padding: 20px;
        flex-shrink: 0;
        position: fixed; /* 화면 좌측에 고정하지 않고 content-wrapper 내부에 고정 */
        top: 73.9px; /* 헤더 아래에 위치 */
        bottom: 0; /* 푸터 위에 위치 */
        left: 0; /* 화면의 좌측에 고정 */
        overflow-y: auto;
        height: calc(100vh - 120px - 74px); /* 헤더와 푸터의 높이만큼 뺀 높이 */

        ul {
            list-style: none;
            padding: 0;
            margin-top: 70px;

            li {
                margin-bottom: 20px;
                display: flex; /* Flex direction row to align icon and text in a row */
                align-items: center;

                a {
                    text-decoration: none;
                    color: $thirdColor;
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    border-radius: 3px;
                    transition: background-color 0.3s;

                    img {
                        margin-right: 10px; /* Spacing between icon and text */
                    }

                    &:hover {
                        background-color: $hoverColor;
                        color: $thirdColor;
                    }
                }

                &.has-submenu {
                    flex-direction: column; /* Submenu should be in a column */
                    align-items: flex-start; /* Align items to the start to ensure they align properly */
                    position: relative;

                    .submenu {
                        display: none;
                        list-style: none;
                        padding: 0;
                        margin-top: 10px; /* Ensure some space between parent and submenu */
                        margin-left: 20px; /* Optional: Indent submenu items */

                        li {
                            margin-bottom: 10px;

                            a {
                                padding-left: 10px;
                                padding-top: 5px;
                                padding-bottom: 5px;
                            }
                        }
                    }

                    &.open .submenu {
                        display: block;
                    }
                }
            }
        }
    }

    main {
        flex: 1;
        padding: 20px;
        margin-left: 180px; /* aside의 너비에 padding을 더하여 main의 시작점 설정 */
        margin-top: 50px; /* 헤더 높이만큼 마진 설정 */
        width: calc(100% - 180px); /* aside의 너비에 맞게 너비 조정 */
        .container {
            max-width: 1200px;
            margin: 0 auto;
        }
        h2 {
            color: $thirdColor;
            font-size: 28px;
            margin-bottom: 10px;
            text-align: center;
            font-weight: bold;
        }
        p {
            text-align: center;
            font-size: 16px;
            color: $thirdColor;
            margin-bottom: 40px;
        }
        .dashboard {
            display: flex;
            justify-content: space-around;
            .recent-items,
            .member-list {
                width: 45%;
                background-color: $asideColor;
                padding: 20px;
                border: 1px solid $thirdColor;
                border-radius: 3px;
                h3 {
                    color: $thirdColor;
                    font-size: 20px;
                    margin-bottom: 20px;
                    text-align: center;
                    font-weight: bold;
                }
            }
            .item {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                img {
                    width: 50px;
                    height: 50px;
                    margin-right: 20px;
                }
                p {
                    margin: 0;
                    text-align: left;
                    flex: 1;
                }
                .time {
                    color: $thirdColor;
                    text-align: right;
                    flex-shrink: 0;
                    white-space: nowrap;
                }
            }
            .member-list ul {
                list-style: none;
                padding: 0;
                li {
                    color: $thirdColor;
                    margin-bottom: 10px;
                    text-align: center;
                    font-size: 18px;
                }
            }
        }
    }
    footer {
        background-color: #f9f9f9;
        color: $thirdColor;
        text-align: center;
        padding: 15px 20px;
        border-top: 1px solid #ccc;
        width: 100%;
        margin-top: auto;
    }
    /* dashBoard 추가할 CSS */
    .table-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        button,
        input {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            margin-right: 10px;
        }
        input {
            margin-right: -650px;
            flex: 0;
        }
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        th,
        td {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: left;
        }
        th {
            background-color: #f8f8f8;
        }
    }
    .status.paid {
        color: green;
    }
    .pagination {
        text-align: center;
        a {
            text-decoration: none;
            color: #333;
            padding: 5px 10px;
            border: 1px solid #ccc;
            margin: 0 5px;
            border-radius: 3px;
            &:hover {
                background-color: #007bff;
                color: #fff;
                border: 1px solid #007bff;
            }
        }
    }
    /* Pmanagement 추가할 CSS */
    .post-details {
        background-color: #fff;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 20px;
        .post-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #ccc;
            margin-bottom: 20px;
            padding-bottom: 10px;
            h3 {
                margin: 0;
                font-size: 24px;
            }
            .post-info {
                display: flex;
                gap: 10px;
                font-size: 14px;
                color: #777;
            }
        }
        .post-content {
            font-size: 18px;
            color: #333;
            margin-bottom: 20px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            background-color: #f9f9f9;
            min-height: 500px;
            min-width: 1100px;
        }
        .post-actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .list {
                text-decoration: none;
                color: #007bff;
                padding: 5px 10px;
                border-radius: 3px;
                transition: background-color 0.3s;
                &:hover {
                    background-color: #0056b3;
                    color: #fff;
                }
            }
            .actions-right {
                display: flex;
                gap: 20px;
                a {
                    text-decoration: none;
                    padding: 5px 10px;
                    border-radius: 3px;
                    transition: background-color 0.3s;
                    &:hover {
                        background-color: #0056b3;
                        color: #fff;
                    }
                    &.delete {
                        color: red;
                    }
                    &.edit {
                        color: green;
                    }
                }
            }
        }
    }
    /* aManagement 추가할 CSS */
    .member-plan {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-top: 20px;
        .member-list,
        .plan-details {
            flex: 1;
            background-color: #fff;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 3px;
            h3 {
                font-size: 20px;
                margin-bottom: 10px;
                text-align: center;
            }
            p {
                text-align: center;
                color: #666;
                margin-bottom: 20px;
            }
            .plans {
                display: flex;
                justify-content: space-around;
                .plan {
                    width: 45%;
                    background-color: #f9f9f9;
                    padding: 20px;
                    border: 1px solid #ccc;
                    border-radius: 3px;
                    text-align: center;
                    h4 {
                        margin-top: 0;
                        font-size: 18px;
                    }
                    p {
                        margin: 5px 0;
                    }
                }
            }
        }
    }
    // admin 글 수정
    .post-header-title {
        width: 1000px;
    }

    // admin article table
    .admin-article-table > thead > tr > th {
        text-align: center;
    }

    .admin-article-table .no {
        text-align: center;
    }
    .admin-article-table .admin-article-checkbox {
        max-width: 15px;
        align-items: center;
        text-align: center;
    }

    .admin-article-table .admin-article-set {
        max-width: 50px;
    }

    .admin-article-title {
        min-width: 300px;
    }

    .admin-article-no {
        max-width: 10px;
        text-align: center;
    }

    // admin recent
    .recent-title {
        color: #86879d;
        text-decoration: none;
    }

    .recent-title::after {
        display: block;
        content: '';
        border-bottom: 2px solid $thirdColor;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
    }

    .recent-title:hover:after {
        transform: scaleX(1);
    }
}
