/* chat 채팅 */
#chatContainer {
  header {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 60px;
  }

  header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  header .logo {
    display: flex;
    align-items: center;
  }

  header .nav-search {
    display: flex;
    align-items: center;
  }

  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  header nav ul li {
    margin-left: 20px;
  }

  header nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    transition: background-color 0.3s;
  }

  header nav ul li a:hover {
    background-color: #ff8916;
    color: #fff;
    border-radius: 3px;
  }

  header .search input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 20px;
  }

  aside {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    border-right: 1px solid #ccc;
    height: calc(100vh - 60px);
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    z-index: 500;
    overflow: auto;
  }

  aside ul {
    list-style: none;
    padding: 0;
  }

  aside ul li {
    margin-bottom: 20px;
    text-align: center;
  }

  aside ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    border-radius: 3px;
    transition: background-color 0.3s;
  }

  aside ul li a:hover {
    background-color: #ff8916;
    color: #fff;
  }

  .chatAside {
    padding: 20px;
    background-color: #f0f0f0;
    width: 250px;
  }

  .chatAside ul {
    list-style: none;
    padding: 0;
  }

  .chatAside ul li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .chatAside ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    flex: 1;
  }

  .chatAside ul li button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #ff8916;
    color: white;
    cursor: pointer;
    border-radius: 3px;
  }
  .btnChatPlus {
    width: 30px !important;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: none;
    border: none;
    background-color: #ff8916;
    color: white;
    cursor: pointer;
    border-radius: 3px;
  }

  .chatAside input {
    padding: 5px 10px;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    border-radius: 3px;
  }

  .chatAside button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 3px;
  }

  /* 레이아웃 */
  .chat-layout-container {
    margin-left: 205px;
    display: flex;
    flex: 1;
  }

  .chat-container {
    flex: 1;
    padding: 20px;
    margin-left: 300px; /* aside 너비와 맞춤 */
    margin-top: 60px; /* 헤더 높이와 맞춤 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .chat-container .tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }

  .chat-container .tabs a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 3px;
    transition: background-color 0.3s;
    background-color: #f0f0f0;
    flex: 1;
    text-align: center;
  }

  .chat-container .tabs a.active {
    background-color: #ff8916;
    color: #fff;
  }

  .chat-container .tabs a:hover {
    background-color: #ff8916;
    color: #fff;
  }

  .messages-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column-reverse; /* 메시지가 아래에서 위로 올라가도록 설정 */
    overflow-y: auto;
    margin-bottom: 60px; /* 입력 창 높이만큼 여유를 줌 */
    max-height: calc(
      80vh - 160px
    ); /* 헤더, 탭, 입력창 등을 제외한 높이로 설정 */
  }

  .messages {
    display: flex;
    flex-direction: column; /* 최신 메시지가 아래에 오도록 설정 */
    padding-bottom: 20px; /* 입력 칸과 푸터 공간 확보 */
  }

  .chat-input {
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    padding: 10px 300px; /* 위아래 여백 추가 */
    position: fixed;
    bottom: 70px; /* 푸터 높이만큼 위로 */
    left: 220px; /* aside 너비와 맞춤 */
    right: 0;
    background-color: #fff;
    border-top: 1px solid #ccc;
  }

  .chat-input input {
    flex: 1;
    padding: 10px; /* 크기 키움 */
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px; /* 버튼과 간격 */
    box-sizing: border-box;
  }

  .chat-input button {
    padding: 10px 20px; /* 크기 키움 */
    border: none;
    background-color: #ff8916;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
  }

  .chat-message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .chat-message.right {
    justify-content: flex-end;
  }

  .chat-message.left {
    justify-content: flex-start;
  }

  .chat-message.right .chat-user {
    order: 2;
    margin-left: 10px;
    margin-right: 0;
  }

  .chat-message.left .chat-user {
    margin-right: 10px;
  }

  .chat-user {
    margin: 0 10px;
  }

  .chat-text {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    max-width: 60%;
  }

  .chat-message.right .chat-text {
    background-color: #e6f3ff;
  }

  .chat-message.left .chat-text {
    background-color: #f1f1f1;
  }

  .Search {
    display: flex;
    justify-content: flex-end; /* 검색창을 우측으로 */
    align-items: center;
    margin-bottom: 20px;
  }

  .Search input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
  }

  .Search button {
    padding: 10px 20px;
    border: none;
    background-color: #ff8916;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
  }

  .CustomButton {
    position: fixed;
    bottom: 60px; /* 푸터 위에 위치하도록 설정 */
    right: 20px; /* 원하는 위치로 조정 */
    padding: 10px 20px;
    background-color: #ff8916;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  main {
    flex: 0;
    margin-left: 120px; /* aside 너비와 맞춤 */
    box-sizing: border-box;
  }

  main .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  main h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  footer {
    background-color: #f8af65;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* 푸터가 항상 상위에 위치하도록 설정 */
  }

  footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px; /* 리스트 아이템 간 간격 */
  }

  footer ul li {
    margin: 0;
  }

  footer ul li a {
    text-decoration: none;
    color: #fff;
  }
}
