// member 회원
#memberContainer {
    padding: 100px 0px 150px;
    min-width: 1440px;
    height: calc(100vh - 68px - 100px - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        min-height: 100vh; /* 뷰포트 높이의 100%로 설정 */
        background-color: #f8af65;
    }

    header {
        background-color: #fff;
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
    }

    header .logo h1 {
        margin: 0;
        display: inline;
    }

    header nav {
        display: inline;
        float: right;
    }

    header nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    header nav ul li {
        display: inline;
        margin-left: 20px;
    }

    header nav ul li a {
        text-decoration: none;
        color: #000;
    }

    main {
        padding: 50px 0;
        background-color: #f9f9f9;
        min-height: 80vh;
    }

    footer {
        background-color: #f8af65;
        padding: 10px 0;
        border-top: 1px solid #ccc;
        text-align: center;
    }

    footer p {
        margin: 5px 0;
    }

    footer a {
        text-decoration: none;
        color: #000;
    }

    footer a:hover {
        text-decoration: underline;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 200vh; /* 좌우 여백 설정 */
    }

    .login-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 705px;
        margin-right: 60px;
        background-image: url('../../public/images/member/orange_test.png');
        background-size: cover; /* 이미지가 컨테이너에 꽉 차게 설정 */
        background-position: center; /* 이미지를 중앙에 정렬 */
        border-radius: 30px;
    }

    .login-form {
        background-color: #fff;
        padding: 30px;
        border: 1px solid #ccc;
        width: 30%; /* 로그인 폼 너비를 반으로 설정 */
        height: 70%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
    }
    .login-form-submit {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }
    .login-options {
        width: 100%; /* 로그인 옵션의 너비를 로그인 폼과 동일하게 설정 */
        margin-top: 50px; /* 로그인 옵션과 로그인 폼 사이의 간격 */
        display: flex;
        flex-direction: column;
        align-items: center; /* 로그인 옵션 내부 요소 가운데 정렬 */
    }
    .login-options h2 {
        margin-bottom: 20px;
    }

    .login-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .login-buttons button {
        width: 150px;
        height: 30px;
        margin: 10px 0;
        border: none;
        cursor: pointer;
        font-size: 16px;
        background-size: contain; // 이미지를 버튼 크기에 맞게 조절
        background-repeat: no-repeat; // 이미지를 반복하지 않도록 설정
        background-position: center;
        border-radius: 7px;
    }

    .kakao-login {
        background-image: url('../../public/images/member/kakao_login_large.png');
    }

    .google-login {
        background-image: url('../../public/images/member/google_login_large.png');
    }

    .login-form label {
        margin: 30px 0 7px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .login-form input {
        flex: 1 1;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #ccc;
        box-sizing: border-box;
    }

    .additional-options {
        margin-bottom: 30px;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .additional-options a {
        text-decoration: none;
        color: #000;
        font-size: 14px;
        margin-bottom: 30px;
    }

    .additional-options a:hover {
        text-decoration: underline;
    }
    .login-description-box {
        display: flex;
        justify-content: center;
    }
    .login-description {
        color: rgba(0, 0, 0, 0.7);

        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
        margin-top: 20px;
    }
    .login-description span a {
        color: black;
    }

    .login-description span a:hover {
        color: black;
        text-decoration: underline;
    }
    .login-errMsg {
        margin-bottom: 13px;
        font-size: 12px;
        color: red;
    }
    .password-container {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .password-container input {
        flex: 1;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #ccc;
        box-sizing: border-box;
    }

    .password-toggle-button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0 10px;
    }

    .eye-light-off-icon::before {
        content: '🔒'; /* 잠금 아이콘 */
    }

    .eye-light-on-icon::before {
        content: '🔓'; /* 잠금 해제 아이콘 */
    }
    .password-container {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .password-container input {
        flex: 1;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #ccc;
        box-sizing: border-box;
    }

    .password-toggle-button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0 10px;
    }

    .eye-light-off-icon::before {
        content: '🔒'; /* 잠금 아이콘 */
    }

    .eye-light-on-icon::before {
        content: '🔓'; /* 잠금 해제 아이콘 */
    }
    /* 회원가입 페이지 스타일 */
    .signup-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120vh;
        width: 200vh;
    }

    .signup-Form {
        background-color: #fff;
        padding: 30px;
        border: 1px solid #ccc;
        width: 30%; /* 로그인 폼 너비를 반으로 설정 */
        height: 75%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
    }
    .signup-Form form {
        display: flex;
        flex-direction: column;
    }

    .signup-options {
        width: 100%; /* 로그인 옵션의 너비를 로그인 폼과 동일하게 설정 */
        margin-top: 30px; /* 로그인 옵션과 로그인 폼 사이의 간격 */
        display: flex;
        flex-direction: column;
        align-items: center; /* 로그인 옵션 내부 요소 가운데 정렬 */
    }

    .signup-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .signup-buttons button {
        width: 150px;
        height: 30px;
        margin: 10px 0;
        border: none;
        cursor: pointer;
        font-size: 16px;
        background-size: contain; // 이미지를 버튼 크기에 맞게 조절
        background-repeat: no-repeat; // 이미지를 반복하지 않도록 설정
        background-position: center;
        border-radius: 7px;
    }

    .kakao-signup {
        background-image: url('../../public/images/member/kakao_login_large.png');
    }

    .google-signup {
        background-image: url('../../public/images/member/google_login_large.png');
    }

    .signup-Form label {
        margin: 15px 0 7px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .signup-Form input {
        padding: 10px;
        margin-bottom: 15px;
        border: none; /* 기존에 적용된 테두리 제거 */
        border-bottom: 1px solid #ccc; /* 밑에 줄 그어지는 스타일 적용 */
        box-sizing: border-box; /* 입력 상자의 너비가 border-box로 계산되도록 설정 */
        width: calc(100% - 22px);
        height: 30px;
    }

    .email-verify {
        padding: 10px;
        background-color: #f8af65;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 16px;
        margin-bottom: 15px;
    }

    .signup-Form button[type='submit'] {
        padding: 10px;
        background-color: #f8af65;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 16px;
        margin-top: 20px;
    }
    .email-input-container {
        display: flex;
        align-items: center;
    }

    .email-input-container input[type='email'] {
        flex: 1;
        margin-right: 10px;
    }
    .error-message {
        display: block; /* 블록 요소로 변경 */
        clear: both; /* 다음 요소가 옆으로 이동하지 않도록 해제 */
        margin-top: 5px;
        color: red;
        font-size: 12px;
    }
    .green-text {
        color: green;
        font-size: 12px;
        display: block; /* 블록 요소로 변경 */
        clear: both; /* 다음 요소가 옆으로 이동하지 않도록 해제 */
        margin-bottom: 13px;
    }

    .red-text {
        color: red;
        font-size: 12px;
        display: block; /* 블록 요소로 변경 */
        clear: both; /* 다음 요소가 옆으로 이동하지 않도록 해제 */
        margin-bottom: 13px;
    }

    /* 약관 페이지 스타일 */
    .terms.container {
        background-color: #f8af65;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .terms-container-content {
        width: 400px;
        height: 100%;
        padding: 20px;
        background-color: #f4f4f4;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .terms-form {
        background-color: #fff;
        padding: 30px;
        border: 1px solid #ccc;
        width: 400px; /* 변경된 너비 */
        height: 400px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .termsMain {
        margin-bottom: 50px;
    }
    .termsMain h3 {
        margin-bottom: 10px;
    }

    .terms p {
        margin-bottom: 20px;
    }

    .term {
        margin-bottom: 15px;
    }

    .term-label {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        color: #666;
    }
    .term-allcheck {
        font-weight: 1000;
    }

    .term-label input[type='checkbox'] {
        margin-right: 10px;
    }

    .term-label span {
        margin-left: auto;
        color: #666;
        cursor: pointer;
        text-decoration: underline;
    }

    .term-label span:hover {
        text-decoration: underline;
    }

    .term-actions {
        display: flex;
        align-items: center;
    }

    .term-actions input[type='checkbox'] {
        margin-right: 5px;
    }

    .terms-form button {
        display: block;
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        background-color: #f8af65;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .terms-form button:hover {
        background-color: #f8af65;
    }

    .terms-form button[type='button'] {
        background-color: #28a745;
    }

    .terms-form button[type='button']:hover {
        background-color: #218838;
    }
    .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        width: 90%; /* 너비를 조정하여 더 크게 만듦 */
        max-width: 800px; /* 최대 너비를 설정하여 너비가 너무 커지지 않도록 제한 */
        padding: 40px; /* 내용과 모달 창의 여백을 더 넓게 조정 */
        border-radius: 10px; /* 모서리를 더 둥글게 만듦 */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* 그림자 효과를 더 강화 */
        color: #333;
    }

    .modal-content {
        font-size: 16px; /* 폰트 크기를 설정하여 텍스트가 더 잘 보이도록 함 */
        line-height: 1.6; /* 줄 간격을 설정하여 텍스트의 가독성을 높임 */
        color: #fff; /* 텍스트 색상을 변경하여 더 잘 보이도록 함 */
    }

    .modal-content p {
        margin-bottom: 10px; /* 문단 사이의 간격을 설정하여 텍스트가 더 잘 구분되도록 함 */
    }

    .modal-content span {
        color: #ff7f50; /* 링크 색상을 변경하여 더 눈에 띄도록 함 */
        text-decoration: underline; /* 링크에 밑줄을 추가하여 클릭 가능성을 강조함 */
        cursor: pointer; /* 마우스를 호버 시 포인터 모양으로 변경하여 클릭 가능성을 시각적으로 표시함 */
    }

    .modal-content span:hover {
        color: #ffa07a; /* 마우스 호버 시 링크 색상을 변경하여 더 동적으로 표시함 */
    }

    .close {
        position: absolute; /* 닫기 버튼을 모달 내에서 위치시키기 위해 절대 위치로 설정 */
        top: 10px; /* 모달 상단에서 10px 아래에 위치 */
        right: 10px; /* 모달 우측에서 10px 왼쪽에 위치 */
        cursor: pointer; /* 마우스 커서를 포인터로 변경하여 클릭 가능한 것으로 표시 */
    }
    /* Profile Update Page Styles */
    .profile-update-container {
        padding: 100px 0px 150px;
        min-width: 1440px;
        height: calc(100vh - 68px - 100px - -120px);
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: auto;
    }

    .profile-update-container .profile-update-form {
        background-color: #fff;
        padding: 30px;
        border: 1px solid #ccc;
        width: 30%;
        height: 96%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        margin-top: 51px;
    }

    .profile-update-container .profile-update-form form {
        display: flex;
        flex-direction: column;
    }

    .profile-update-container .profile-update-form label {
        margin: 15px 0 7px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .profile-update-container .profile-update-form input[type='file'],
    .profile-update-container .profile-update-form input[type='text'],
    .profile-update-container .profile-update-form input[type='email'],
    .profile-update-container .profile-update-form input[type='password'] {
        padding: 10px;
        margin-bottom: 15px;
        border: none;
        border-bottom: 1px solid #ccc;
        box-sizing: border-box;
        width: calc(100% - 22px);
    }

    .profile-update-container .profile-update-form button[type='submit'] {
        padding: 10px;
        background-color: #f8af65;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 16px;
        margin-top: 5px;
    }

    .profile-update-container .error-message {
        display: block;
        clear: both;
        margin-top: 5px;
        color: red;
        font-size: 12px;
    }

    .profile-update-container .green-text,
    .profile-update-container .red-text {
        color: green;
        font-size: 12px;
        display: block;
        clear: both;
        margin-bottom: 13px;
    }
    .profile-picture-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .profile-picture-preview {
        width: 100px;
        height: 100px;
        border-radius: 20%;
        object-fit: cover;
        margin-bottom: 10px;
    }
    .profile-picture-preview:hover {
        cursor: pointer;
        background-color: #666; /* 회색 배경색으로 변화 */
    }

    .profile-picture-upload-label {
        cursor: pointer;
        padding: 8px 16px;
        background-color: #f8af65;
        color: #fff;
        border-radius: 20px;
        transition: background-color 0.3s ease;

        .profile-picture-upload-label:hover {
            background-color: #e0913b;
        }

        input[type='file'] {
            display: none;
        }
    }
    .check-pass-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .check-pass-update-container {
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .check-pass-update-form {
        display: flex;
        flex-direction: column;
    }

    .check-pass-update-form input,
    .check-pass-update-form button {
        margin-bottom: 10px;
        padding: 10px;
        font-size: 16px;
        height: 8px;
    }

    .check-pass-update-form label {
        margin-bottom: 5px;
        font-weight: bold;
    }

    .check-pass-update-form button {
        background-color: #4caf50;
        color: white;
        border: none;
        cursor: pointer;
        height: 40px;
        margin-top: 20px;
        width: 20%;
    }

    .check-pass-update-form button:hover {
        background-color: #45a049;
    }
    .check-pass-update-form .cancel-button {
        background-color: #666;
        color: white;
        border: none;
        cursor: pointer;
        height: 40px;
        margin-top: 20px;
        width: 20%;
    }
    .check-pass-update-form .cancel-button:hover {
        background-color: #666;
    }

    .user-id-display {
        margin-bottom: 40px;
        font-size: 16px;
    }

    .user-id-display label {
        font-weight: bold;
    }

    .user-id-display span {
        margin-left: 10px;
    }
    .sumbitButton {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    h3.check-pass-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        font-weight: 1000;
    }
    input.passCheck {
        margin-top: 5px;
    }
    label.passLabel {
        color: #28a745;
        font-weight: 1000;
    }
    .find-id-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .find-id-update-container {
        display: flex;
        align-items: center;
        background: #f9f9f9; /* Light gray background */
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 420px; /* Adjust the width */
        height: 40%;
    }

    .find-id-update-form {
        display: flex;
        flex-direction: column;
    }

    .input-container {
        display: flex;
        align-items: center;
        margin-bottom: 15px; /* Add some space between form elements */
    }

    .input-container label {
        margin-right: 10px; /* Add some space between label and input */
    }

    .find-id-update-form input,
    .find-id-update-form button {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc; /* Add border to input elements */
        border-radius: 4px; /* Rounded corners */
    }

    .find-id-update-form label {
        margin-bottom: 5px;
        font-weight: bold;
    }

    .find-id-update-form button {
        background-color: #4caf50;
        color: white;
        cursor: pointer;
        height: 40px;
        border: none;
        border-radius: 4px; /* Rounded corners */
    }

    .find-id-update-form button:hover {
        background-color: #45a049;
    }

    #verification-code-section {
        display: none;
    }
    #verification-code-section.show {
        display: block;
        margin-top: 30px;
    }

    #verification-code-section label {
        margin-top: 10px;
    }

    #verification-code-section input {
        margin-bottom: 10px;
    }

    #verification-code-section button {
        margin-top: 10px;
    }
    input#name {
        margin-left: 23px;
    }
    input#email {
        margin-left: 8px;
    }
    h3.find-id-title {
        margin-bottom: 30px;
    }
    button#request-code-button {
        margin-left: 10px;
    }
    button#confirm-code-button {
        margin-left: 10px;
    }
    p {
        color: #e0913b;
    }
    .find-pw-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .find-pw-update-container {
        display: flex;
        align-items: center;
        background: #f9f9f9;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 530px;
        height: 60%;
    }

    .find-pw-update-form {
        display: flex;
        flex-direction: column;
    }

    .input-container {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .input-container label {
        margin-right: 10px;
    }

    .find-pw-update-form input,
    .find-pw-update-form button {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .find-pw-update-form label {
        margin-bottom: 5px;
        font-weight: bold;
    }

    .find-pw-update-form button {
        background-color: #4caf50;
        color: white;
        cursor: pointer;
        height: 40px;
        border: none;
        border-radius: 4px;
    }

    .find-pw-update-form button:hover {
        background-color: #45a049;
    }

    #verification-code-section {
        display: none;
    }

    #verification-code-section.show {
        display: block;
        margin-top: 30px;
    }

    #verification-code-section label {
        margin-top: 10px;
    }

    #verification-code-section input {
        margin-bottom: 10px;
    }

    #verification-code-section button {
        margin-top: 10px;
    }

    input#name {
        margin-left: 23px;
    }

    input#email {
        margin-left: 8px;
    }

    h3.find-pw-title {
        margin-bottom: 30px;
    }

    button#request-code-button {
        margin-left: 10px;
    }

    button#confirm-code-button {
        margin-left: 10px;
    }

    p {
        color: #e0913b;
    }
    input#userId {
        margin-left: 8px;
    }
    input#verification-code {
        margin-left: 6px;
    }
    .changePass {
        margin-top: 50px;
    }
    input#newPassword {
        margin-left: 50px;
    }
    .pass1 {
        margin-bottom: 15px;
    }
    input#confirmNewPassword {
        margin-left: 16px;
    }
    button#reset-password-button {
        margin-left: 10px;
    }
    .link-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .link-container a {
        color: #01060cf3;
        text-decoration: none;
        margin: 0 10px;
    }

    .link-container a:hover {
        text-decoration: underline;
    }

    .pricing-container {
        text-align: center;
        padding: 50px;
    }

    .pricing-title {
        font-size: 36px;
        margin-bottom: 50px;
    }
    .pricing-grade {
        font-weight: 800;
        margin-bottom: 50px;
        color: #218838;
    }

    .pricing-cards {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .card {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 300px;
        transition: transform 0.3s;
    }

    .card:hover {
        transform: translateY(-10px);
    }

    .card-title {
        font-size: 24px;
        margin-bottom: 10px;
    }
    h2.free-card-title {
        color: #666;
    }
    h2.mvp-card-title {
        color: #e0913b;
    }

    .free-price {
        font-size: 22px;
        margin-bottom: 20px;
        color: #666;
    }
    .mvp-price {
        font-size: 22px;
        margin-bottom: 20px;
        color: #e0913b;
    }

    .features {
        list-style: none;
        padding: 0;
        margin-bottom: 20px;
    }

    .features li {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .free-subscribe-button {
        background-color: #666;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .mvp-subscribe-button {
        background-color: #e0913b;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .subscribe-button:hover {
        background-color: #e0913b;
    }
    .free-p {
        color: #000;
        font-weight: bold;
    }
    .mvp-p {
        color: #000;
        font-weight: bold;
    }
    .login-test-user {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        align-items: center;
        background-color: #9acd32;
        height: 50px;
    }

    .test-user-title,
    .test-user-id,
    .test-user-pass {
        margin-right: 20px;
    }
}
